body {
    background-color: #081121;
    color: white;
}
.A ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F0A8C6;
    height: 100%;
    width: 100%;
}

.A img {
    vertical-align: top;
    height: 30px;
}

.A li {
    display: inline-block;
    vertical-align: middle;
}

.A li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.A li a:hover {
    background-color: #CC70B3;
}

#capa {
    height: 100%;
    margin-top: 20px;
}
